#logo {
    color: white;
}

#film {
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

#mas {
    color: #eddd53;
}

#art {
    color: #2a7b9b;
    font-size: 30px;
}

.navbarColor {
    background-color: #c70039;
    color: white;
}

li .nav-item a:over {
    color: #eddd53;
}

.social-icon {
    color: white;
}

a .social-icon:over {
    color: #eddd53;
}

.colorLogo {
    color: #2a7b9b;
}
.colorYellow {
    color: #eddd53;
}
.colorTextGuest {
    color: #900c3f;
}

.colorLogo form {
    color: #2a7b9b;
}
/* prueba texto sobre imagen efecto over */

.div-imagen {
    display: inline-block;
    position: relative;
}

.div-imagen > div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding: 10px;
    margin: 0;
}

.desvanecer:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}

/* botones */

btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-film1 {
    color: #fff;
    background-color: #2a7b9b;
    border-color: #2a7b9b;
}
.btn-film1:hover {
    color: #fff;
    background-color: #3d3d6b; /* #0b5ed7 */
    border-color: #0a58ca;
}
.btn-check:focus + .btn-film1,
.btn-film1:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-film1,
.btn-check:active + .btn-film1,
.btn-film1:active,
.btn-film1.active,
.show > .btn-film1.dropdown-toggle {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}
.btn-check:checked + .btn-film1:focus,
.btn-check:active + .btn-film1:focus,
.btn-film1:active:focus,
.btn-film1.active:focus,
.show > .btn-film1.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-film1:disabled,
.btn-film1.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
/* boton delete */

.btn-filmDelete {
    color: #fff;
    background-color: #c70039;
    border-color: #c70039;
}
.btn-filmDelete:hover {
    color: #fff;
    background-color: #e70039; /* #0b5ed7 */
    border-color: #e70039;
}
.btn-check:focus + .btn-filmDelete,
.btn-filmDelete:focus {
    color: #fff;
    background-color: #ff5733;
    border-color: #ff5733;
    box-shadow: 0 0 0 0.25rem rgba(255, 87, 51, 0.5);
}
.btn-check:checked + .btn-filmDelete,
.btn-check:active + .btn-filmDelete,
.btn-filmDelete:active,
.btn-filmDelete.active,
.show > .btn-filmDelete.dropdown-toggle {
    color: #fff;
    background-color: #900c3f;
    border-color: #900c3f;
}
.btn-check:checked + .btn-filmDelete:focus,
.btn-check:active + .btn-filmDelete:focus,
.btn-filmDelete:active:focus,
.btn-filmDelete.active:focus,
.show > .btn-filmDelete.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-filmDelete:disabled,
.btn-filmDelete.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}
/* boton crear */

.btn-filmCrear {
    color: #fff;
    background-color: #eddd53;
    border-color: #eddd53;
}
.btn-filmCrear:hover {
    color: #fff;
    background-color: #2a7b9b; /* #0b5ed7 */
    border-color: #2a7b9b;
}
.btn-check:focus + .btn-filmCrear,
.btn-filmCrear:focus {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-check:checked + .btn-filmCrear,
.btn-check:active + .btn-filmCrear,
.btn-filmCrear:active,
.btn-filmCrear.active,
.show > .btn-filmCrear.dropdown-toggle {
    color: #fff;
    background-color: #0a58ca;
    border-color: #0a53be;
}
.btn-check:checked + .btn-filmCrear:focus,
.btn-check:active + .btn-filmCrear:focus,
.btn-filmCrear:active:focus,
.btn-filmCrear.active:focus,
.show > .btn-filmCrear.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
.btn-filmCrear:disabled,
.btn-filmCrear.disabled {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

/* color logos footer */

.filmlogoFooter {
    color: #2a7b9b;
    /* background-color: #eddd53;
    border-color: #eddd53; */
}
.filmlogoFooter:hover {
    color: #eddd53;
    /* background-color: #2a7b9b; /* #0b5ed7 */
    /* border-color: #2a7b9b; */
}

.verPeliculaBgColor {
    background-color: #343a40;
}

.colorBadgeTitol {
    background-color: #3d3d6b;
}

.colorBadgeGenere {
    background-color: #900c3f;
}

/* EFECTO OVER */

/* div position: relative, para controlar las posiciones internas */
.efectoHover {
    position: relative;
    margin: 0;
    /* margin-top: 10px; */
}

/* La imagen debe centrarse automáticamente */
.efectoHover img {
    display: block;
    margin: 0 auto;
}

/* El título lo ubicamos en centro, pero puede moverse */
.efectoHover .descripcion {
    position: absolute;
    top: 10%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    color: transparent;
}

/* cuando pones el mouse sobre el anchor, opacidad de la imagen */
.efectoHover a:hover img {
    opacity: 0.2;
}

/* cuando pones el mouse sobre el anchor, propiedades del texto */
.efectoHover a:hover .descripcion {
    color: white;
}

#contactaFooter {
    padding-bottom: 30%;
}
#SobreNosotrosFooter {
    padding-bottom: 21.5%;
}

/* EFECTO HOVER */

/* @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/opensans/v20/mem8YaGs126MiZpBA-UFVZ0e.ttf)
        format("truetype");
}
.contenedor {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
}
.div-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.div-img .img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
}
.div-img .text {
    font-family: "Open Sans";
    padding-top: 5px;
    display: block;
    text-align: center;
    width: 100%;
    transform: translate(0px);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    opacity: 0;
    transition: transfom opacity 1.5s;
}
.div-img:hover .img {
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}
.div-img:hover .text {
    transform: translate(0px, -20px);
    opacity: 1;
}
 */
/* FIN EFECTO HOVER */
/* texto sobre imagen */
/* .contenedorPlay {
    position: relative;
    display: inline-block;
    text-align: center;
}
.logoPlay {
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* fin texto sobre imagen */
